
body{
	background-color: black;
        font-family: 'Roboto', sans-serif;
}

.page-header{
    background-image: url("../images/backgrounds/zips.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 10em;
}

