/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/06/2017, 2:37:44 PM
    Author     : Neal Hartley
*/

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body a{
    color: white;
    text-decoration:none;
}

body a:hover{
    color: #1c7496;
    text-decoration:none;
}


/*styling for the header. this includes logo and search bar plus the log in and create accoudn links at top*/
.page-header{
	background-image: url("../images/backgrounds/zips.jpg");
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-position: 0em 10em;
    padding-bottom: 30em;
	
    border-bottom-style: none; 
	border-bottom: 1px solid black;
}

.page-header.panel-wrapper{
	border-bottom-color: black;
	border-bottom: 1px solid black;
}

.header.content{

    max-width: 100%;
}

.panel.wrapper{
    border-bottom-style: none;
	border-bottom: 1px solid black;
}

#search{
    background-color: #999999;
}

.action.search{
    float: right;
    background-color: #1c7496;
}

.page-footer{
    background-color: #333333;
}

.block-search{
    top: 0;
}

/*   styling for the tabbed inventory bar from here*/

.nav-sections{
	width:80%;
	background-color: #333333;
}

.navigation {
    background: #333333;
    
}

.nav-sections-item-title {
    background: #333333;
    border: none #333333;
  
}

.nav-sections-items{
	width: 80%;
	float: right;
}


.navigation a, .navigation a:hover {
    color: white;
   
}

.minicart-wrapper {
    position: static;
	float: none;
	
}

styles-m.css:5473
.minicart-wrapper {
    display: inline-block;
    position: relative;
    float: right;
}


/*main content styling*/
.breadcrumbs{
    padding-top: 5px;
    margin-bottom: 0px;
    background-color: white;
    color: #999999;
    max-width: 100%;
}

#maincontent{
    background-color: white;
    max-width:100%;
    color:#1c7496;
}

