/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/06/2017, 2:37:44 PM
    Author     : Neal Hartley
*/

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: #D0D0D0;
	line-height: 1;
}

body a{
    color: #D0D0D0;
    text-decoration:none;
}

body a:hover{
    color: #1c7496;
    text-decoration:none;
}
/*Styling for link nav bar holder*/
.Savant-wishlist-link-wrapper{

	display: inline-block;
	position: relative;
	float: right;

}

/*styling for the header. this includes logo and search bar plus the log in and create accoudn links at top*/
.page-header{
	
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-position: 0em 6em;

	
    border-bottom-style: none; 
	border-bottom: 1px solid black;
}

.page-header .panel.wrapper {
   	border-bottom-color: black;
	border-bottom: 1px solid black;
}

.logo{
    margin-left: 20px;
}

.header.content{
	padding-top: 0px;
    max-width: 100%;
}

.panel.wrapper{
    border-bottom-style: none;
	border-bottom: 1px solid black;
}

.page-header .header.panel{
	max-width: 100%;
}

#search{
    background-color: #333333;
}

.block-search .action.search {
	background-color: #1c7496;
	float: right;
	padding-left: 6px;
	padding-right: 6px;
}

.block-search .action.search:hover{
	background-color: #1c7496;

}

.block-search .action.search:before{
	top: 0;
	line-height: 27px;
	font-size: 27px;
}

.block-search .action.search{
	padding: 0px 3px 0px 3px;
	float: right;
	border-left: 5px;
	right: 0px;
	height: 27px;
	border-radius: 0px;
}

input[type="text"]{
	border-radius: 0px;
}


.block-search input {
   
    padding-right: 0px;
	color: white;
   
}

.block-search .nested {
    display: none;
  
}

input[type="text"]{
	border : none;
	height: 27px;
}

.action .advanced{
	display: none;
}

.action.search{
    float: right;
    background-color: #1c7496;
	height: 25px;
}

.page-footer{
    background-color: #333333;
}

.block-search{
    top: 2em;
}

/*   styling for the tabbed inventory bar from here*/

.nav-sections{
    margin-bottom: 0px;
}

.section-items{
    background-color: #333333;
}

.navigation{
    background-color: #333333;
	float: left;
	max-width: 100%;
    font-weight: 500;
}

/*navigation length override*/
.sections .nav-sections .navigation{
	max-width: 87%;
}
.level-top{
    color: white;
}

.level10.active{
    background-color: #333333;
    color: white;
}

.navigation .level0.active > .level-top, .navigation .level0.has-active > .level-top {
    border-color: #333333;
    border-style: none;
    border-width: 0 0 3px;
    color: white;
	background-color: #1c7496;
   
}

.navigation .level0.active > .level-top: hover, .navigation .level0.has-active > .level-top: hover {
    border-color: #333333;
    border-style: none;
    border-width: 0 0 3px;
    color: white;
	background-color: #1c7496;
	
   
}

.navigation .level0 > .level-top {
	color: white;
	line-height: 33px;
}

.navigation .level0 > .level-top: hover{
	color: #1c7496;
}

.navigation .level0 > .level-top.ui-state-focus{
	color: #1c7496;
	
}

.navigation .level0 > .level-top {
	color: white;
	line-height: 33px;
}


.level0.has-active > .level-top {
    background-color: #1c7496;
	border-style: hidden;
}

.navigation .level0 .submenu .active > a {
  
    border-style: hidden;
	background-color: #1c7496;
}

.navigation .level0 .submenu .active > a: hover {
  
    border-style: hidden;
	background-color: #1c7496;
}

.navigation .level0.has-active > .level-top {
    color: white;    
}

.navigation .level0 .submenu {
	background-color: #333333;
	border: 0px none  #333333;
}

.navigation .level0 .submenu a{
	color: white;
}
.navigation .level0 .submenu a:hover, .navigation .level0 .submenu a.ui-state-focus{
	background-color: #333333;
	color: #1c7496;
}



/*main content styling*/
.breadcrumbs{
    padding-top: 1em;
	padding-bottom: 2em;
    margin-bottom: 0em;
    background-color: white;
    color: #999999;
    max-width: 100%;
}

.column.main {
    min-height: 0px;
}

.columns .column.main {
    padding-bottom: 0px;
}

.columns a{
	color: #1c7496;
}

#maincontent{
    background-color: white;
    max-width:100%;
    color:#1c7496;
}


.page-title-wrapper{
	display: none;
}


/*footer styling*/

input[type="email"]{
	background-color: #666666;
	border: none;
	color: white;
}

.footer.content .block{
	float: left;
}

.footer.content {
    border-top: 1px solid #333333;
	
}

.footer .copyright, .footer .bugs {
    display: none;
}

.footer.content .links{
	width: 70%;
}


.block.newsletter .action.subscribe {
    border-radius: 0px;
}

.action.primary {
    background-image: none;
    background: #1c7496;
    border: 1px solid #1c7496;

}

.agents_block p {
	display: inline-block;
}

.agents_block img {
	display: inline-block;
}

.agent_block{
	display: inline-block;
}

/* styling for individual products*/

.page-products .product-item-info {
    background-color:#f4f4f4;
		
}

.page-products .product-item-info{
	margin: auto;
}

.item.product.product-item{
	background-color: #f4f4f4;
}


/*contact page*/

.legend{
	display: none;
}

.note{
	display: none;
}

.field.name.required{
	margin-top: 5em;
}

.form .contact{
	
}

.fieldset input[type="email"]{
	background-color: white;
	color: black;
	border: 1px solid #c2c2c2;
}

.fieldset input[type="text"]{
	background-color: white;
	color: black;
	border: 1px solid #c2c2c2;
}

.actions-toolbar{
	margin-bottom: 5em;
}

/* log in page */
.login-container{
	padding-top: 3em;
}

.fieldset > .field:not(.choice) > .control{
	max-width:50%;
}

.fieldset > .field:not(.choice) > .label{
	max-width: 15%;
}

.fieldset{
	max-width: 70%;
}

/*account dashboard*/
.columns .sidebar-main{

	margin-top:4em;
}

.block-dashboard-info{
	padding-top: 3em;
}


