/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/06/2017, 2:37:44 PM
    Author     : Neal Hartley
*/

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
	line-height: 1;
}

body a{
    color: white;
    text-decoration:none;
}

body a:hover{
    color: #1c7496;
    text-decoration:none;
}


/*styling for the header. this includes logo and search bar plus the log in and create accoudn links at top*/
.page-header{
	background-image: url("../images/backgrounds/zips.jpg");
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-position: 0em 6em;
    padding-bottom: 30em;
	
    border-bottom-style: none; 
	border-bottom: 1px solid black;
}

.page-header .panel.wrapper {
   	border-bottom-color: black;
	border-bottom: 1px solid black;
}

.header.content{
	padding-top: 0px;
    max-width: 100%;
}

.panel.wrapper{
    border-bottom-style: none;
	border-bottom: 1px solid black;
}


#search{
    background-color: #333333;
}

.block-search .action.search {
	background-color: #1c7496;
	float: right;
	padding-left: 6px;
	padding-right: 6px;
}

.block-search .action.search: hover{
	background-color: #1c7496;

}

.block-search input {
   
    padding-right: 0px;
	color: white;
   
}

.block-search .nested {
    display: none;
  
}

input[type="text"]{
	border : none;
}

.action .advanced{
	display: none;
}

.action.search{
    float: right;
    background-color: #1c7496;
}

.page-footer{
    background-color: #333333;
}

.block-search{
    top: 2em;
}

/*   styling for the tabbed inventory bar from here*/

.nav-sections{
    margin-bottom: 0px;
}

.section-items{
    background-color: #333333;
}

.navigation{
    background-color: #333333;
	float: left;
	max-width: 100%;
}

.level-top{
    color: white;
}

.level10.active{
    background-color: #333333;
    color: white;
}

.navigation .level0.active > .level-top, .navigation .level0.has-active > .level-top {
    border-color: #333333;
    border-style: none;
    border-width: 0 0 3px;
    color: white;
	background-color: #1c7496;
   
}

.navigation .level0.active > .level-top: hover, .navigation .level0.has-active > .level-top: hover {
    border-color: #333333;
    border-style: none;
    border-width: 0 0 3px;
    color: white;
	background-color: #1c7496;
	
   
}

.navigation .level0 > .level-top {
	color: white;
	line-height: 33px;
}

.navigation .level0 > .level-top: hover{
	color: #1c7496;
}

.navigation .level0 > .level-top.ui-state-focus{
	color: #1c7496;
	
}

.navigation .level0 > .level-top {
	color: white;
	line-height: 33px;
}


.level0.has-active > .level-top {
    background-color: #1c7496;
	border-style: hidden;
}

.navigation .level0 .submenu .active > a {
  
    border-style: hidden;
	background-color: #1c7496;
}

.navigation .level0 .submenu .active > a: hover {
  
    border-style: hidden;
	background-color: #1c7496;
}

.navigation .level0.has-active > .level-top {
    color: white;    
}

.navigation .level0 .submenu {
	background-color: #333333;
	border: 0px none  #333333;
}

.navigation .level0 .submenu a{
	color: white;
}
.navigation .level0 .submenu a:hover, .navigation .level0 .submenu a.ui-state-focus{
	background-color: #333333;
	color: #1c7496;
}



/*main content styling*/
.breadcrumbs{
    padding-top: 1em;
	padding-bottom: 2em;
    margin-bottom: 0em;
    background-color: white;
    color: #999999;
    max-width: 100%;
}

.column.main {
    min-height: 0px;
}

.columns .column.main {
    padding-bottom: 0px;
}

#maincontent{
    background-color: white;
    max-width:100%;
    color:#1c7496;
}


.page-title-wrapper{
	display: none;
}


/*footer styling*/

input[type="email"]{
	background-color: #666666;
	border: none;
	color: white;
}

.footer.content .block{
	float: left;
}

.footer.content {
    border-top: 1px solid #333333;
}

.footer .copyright, .footer .bugs {
    display: none;
}

.footer.content .links{
	width: 70%;
}


.block.newsletter .action.subscribe {
    border-radius: 0px;
}

.action.primary {
    background-image: none;
    background: #1c7496;
    border: 1px solid #1c7496;

}

/* styling for individual products*/

.page-products .product-item-info {
    background-color:#f4f4f4;
		
}

.page-products .product-item-info{
	margin: auto;
}

.item.product.product-item{
	background-color: #f4f4f4;
}

.product-image-container{
	background-color: #f4f4f4;
}


/*contact page*/

.legend{
	display: none;
}

.note{
	display: none;
}

.field.name.required{
	margin-top: 5em;
}

.form .contact{
	
}

.fieldset input[type="email"]{
	background-color: white;
	color: black;
	border: 1px solid #c2c2c2;
}

.fieldset input[type="text"]{
	background-color: white;
	color: black;
	border: 1px solid #c2c2c2;
}

.actions-toolbar{
	margin-bottom: 5em;
}








